<!DOCTYPE html>
<html>
<head>
  <title>FoundInADream</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
  	<div class="container">
  		<ul class="nav navbar-nav">
          <li><a href="/">Home </a></li>
          <li><a href="/bio">Bio</a></li>
          <li><a href="/previous-work">Previous Work</a></li>
  		</ul>
  	</div>
  </nav>

<%= yield %>

</body>
</html>
